@font-face {
  font-family: 'Arbutus Slab';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/arbutus-slab-v18-latin-regular.woff2') format('woff2');
}

/* AR One Sans */
@font-face {
  font-family: 'AR One Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/ar-one-sans-v2-latin-regular.woff2') format('woff2');
}

/* Base font size */
html {
    font-size: 16px;
}

/* Body text */
body {
    margin: 0;
    font-family: 'AR One Sans', sans-serif;
    background-color: #f4fad9; 
    color: #15251a; 
    line-height: 1.6;
    padding: 2rem;
}

/* Headings */
h1, h2, h3, h4, h5 {
    font-family: 'Arbutus Slab', serif;
    font-weight: 500;
    line-height: 1.15;
    color: #1F2F16; /* Dark green */
    margin-top: 0;
}


h1 { font-size: 3.05em; border-bottom: 3px solid #25441d; margin-bottom: 1rem; }
h2 { font-size: 2.44em; }
h3 { font-size: 1.95em; }
h4 { font-size: 1.56em; }
h5 { font-size: 1.25em; }

p {
    font-size: 1em;
    margin-bottom: 1rem;
}


strong {
    color: #395B50; /* Teal green */
}

/* Header*/
header {
    text-align: center;
    margin-bottom: 2rem;
}

/* list */
ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 2rem;
}

li {
    color: #1F2F16;
    font-weight: bold;
}