body {
	font-family: 'Quicksand', sans-serif;
	background-color: #FFF1E6;
	color: #7A4E48;
	margin: 0;
	padding: 0;
}

h1, h2 {
	font-family: 'Playfair Display', serif;
	color: #7A4E48;
}

header {
	background-color: #D8A7B1;
	padding: 2px;
	text-align: center;
}
.about {
	background-color: #A8C3A5;
	padding: 2px;
	margin: 2px;
	border-radius: 10px;
	color: #2f2f2f;
}
.assignments {
	background-color: #D9B99B;
	padding: 2px;
	margin: 2px;
	border-radius: 10px;
}

.assignments ul {
	list-style-type: none;
	padding: 0;
}

.assignments li {
	margin-bottom: 0.5px;
}

.assignments a {
	color: #7A4E48;
	text-decoration: none;
	font-weight: 600;
}

.assignments a:hover {
	text-decoration: underline;
}