body { 
	font-family: 'Quicksand', sans-serif;
	background-color: #4b3d2f; /* deep earthy soil */
	color: #EDE6DB; /* warm light for contrast */
	margin: 0;
	padding: 0;
}

h1, h2 {
	font-family: 'Playfair Display', serif;
	color: #b98345; /* muted terracotta */
}

header {
	background-color: #b4867d; /* dark dusty rose-brown */
	padding: 2px;
	text-align: center;
}

.about {
	background-color: #374e35; /* mossy green */
	padding: 2px;
	margin: 2px;
	border-radius: 10px;
	color: #EDE6DB;
}

.assignments {
	background-color: #6B4E3D; /* rich brown-orange */
	padding: 2px;
	margin: 2px;
	border-radius: 10px;
	color: #EDE6DB;
}

.assignments ul {
	list-style-type: none;
	padding: 0;
}

.assignments li {
	margin-bottom: 0.5px;
}

.assignments a {
	color: #A3797A; /* muted pink accent */
	text-decoration: none;
	font-weight: 600;
}

.assignments a:hover {
	text-decoration: underline;
}