/* fonts, base style */
html {
  background: url("https://www.toptal.com/designers/subtlepatterns/uploads/paisley.png") repeat;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  color: #2B2D42; 
  line-height: 1.6; 
}

body {
  margin: 40px;
  padding: 20px 40px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

/* headings */
h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 36px;
  color: #ff8da6; /* Pink header */
  border-bottom: 3px dotted #2285c7;
  padding-bottom: 10px;
}

h2 {
  font-size: 28px;
  color: #188f97; /* Green header */
}

h3 {
  font-size: 22px;
  color: #FFD166; /* Yellow header */
}

/* Paragraphs */
p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 1em;
  text-align: left;
  color: #2B2D42;
}